**/Dockerfile linguist-detectable=false
*.hbs linguist-detectable=false

*.html linguist-language=Svelte

*.js linguist-language=TypeScript
*.ts linguist-language=TypeScript
**/*.config.js linguist-language=TypeScript
*.cjs linguist-language=TypeScript
