@inject Republic.Web.Services.ProjectService ProjectService
@using Republic.Models

<PageTitle>Projects</PageTitle>

<h3>Projects</h3>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var project in projects)
        {
            <li>@project.Name - @project.Description (Owner: @project.Owner)</li>
        }
    </ul>
}

@code {
    private List<Project> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}
